.button {
  @extend %no-border;
  @include font(700, 16px, 1.9);
  @include centered-flex();

  position: relative;
  overflow: hidden;

  column-gap: 10px;
  padding: 13px 25px;

  border-radius: 30px;
  box-shadow: 0px 6px 25px getColor('button-shadow');

  cursor: pointer;
  background: linear-gradient(
    45deg,
    getColor('secondary-accent') 46.88%,
    getColor('accent') 100%
  );
  background-size: 400% 400%;
  color: getColor('text-light');
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  animation: gradient 7s ease infinite;
  transition: transform getTransition('duration')
      getTransition('timing-function'),
    box-shadow getTransition('duration') getTransition('timing-function');

  &:hover,
  &:focus {
    animation-play-state: paused;
    box-shadow: 0px 6px 50px getColor('button-shadow');
    transform: scale(1.01);
  }

  @include for-size(mobile-only) {
    width: 100%;
  }

  @include for-size(mobile) {
    font-size: 18px;
  }
}

.button__icon {
  flex-shrink: 0;
}