.company-phone {
  @include centered-flex();
  @include font(700, 24px, inherit);

  column-gap: 10px;

  color: inherit;
  letter-spacing: 0.05em;

  animation: headShake 3100ms 750ms ease-in-out infinite;
  transition: color getTransition('duration') getTransition('timing-function');

  @include for-size(tablet) {
    font-size: 16px;
  }

  @include for-size(laptop) {
    font-size: 22px;
  }

  @include for-size(desktop) {
    font-size: 26px;
  }

  &:hover,
  &:focus {
    animation-play-state: paused;
    color: #ffeed9;
  }
}
