.currencies-table {
  width: 100%;
  border-collapse: collapse;
  color: getColor('text-light');

  &__head {
    border-bottom: 3px solid getColor('transparency-accent');
  }

  &__row {
    border-bottom: 3px solid rgba(255, 153, 0, 0.5);
  }

  &__block {
    @include font(700, 18px, 1);

    @include for-size(desktop) {
      font-size: 46px;
    }
  }

  &__currency-name,
  &__currency-rate {
    padding: 15px 0;

    @include for-size(desktop) {
      padding: 25px 0;
    }
  }

  &__currency-name {
    padding-left: 20px;
    text-transform: capitalize;
  }

  &__currency-rate {
    font-size: 24px;

    @include for-size(desktop) {
      font-size: 60px;
    }
  }
}

.currencies-table__header {
  @include font(600, 14px, 1.5);

  padding: 10px 0;

  text-align: start;
  font-style: italic;

  @include for-size(desktop) {
    font-size: 26px;
  }

  &:nth-child(1) {
    padding-left: 20px;
  }

  &:last-child {
    text-align: end;
  }
}
