.feature-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 20px;

  border-radius: 20px;

  overflow: hidden;

  @include for-size(tablet) {
    flex-basis: 420px;
  }

  @include for-size(desktop) {
    padding: 20px;
  }

  &--accent {
    color: getColor('text-dark');

    background-image: linear-gradient(
      -129.09deg,
      #ffe6bf 20.65%,
      #ffb951 79.9%
    );
  }

  &--accent-reversed {
    background-image: linear-gradient(40deg, #ffe6bf 20.65%, #ffb951 79.9%);
  }

  &--dark {
    color: getColor('text-light');

    background-image: linear-gradient(90.79deg, #404040 16.59%, #656565 88.75%),
      linear-gradient(260.85deg, #dcdcdc 11.33%, #f3f3f3 93.09%);
  }
}

.feature-card__title {
  @include font(600, 18px, 1.4);

  color: inherit;
  font-style: italic;
  text-transform: uppercase;

  @include for-size(tablet) {
    font-size: 16px;
  }

  @include for-size(1200px) {
    font-size: 22px;
  }
}

.feature-card__image {
  max-width: 120px;
}
