.panes {
  overflow: hidden;

  @include for-size(mobile-only) {
    border-radius: 20px;
  }
}

.pane {
  animation: fadeEffect 500ms;

  @include for-size(tablet) {
    display: none;
  }

  &:not(:last-child) {
    @include for-size(mobile-only) {
      margin-bottom: 3px;
    }
  }

  &--active {
    display: block;
  }
}

.pane__list {
  @extend %list;
  @include font(400, 16px, 1.4);

  padding: 20px;

  @include for-size(mobile-only) {
    background-color: #333333;
  }

  @include for-size(desktop) {
    flex-basis: 800px;
  }
}

.pane__item {
  position: relative;
  padding-left: 50px;

  &:not(:last-child) {
    margin-bottom: 35px;
  }

  &--time::before {
    background-image: url('../images/icons/icon-time.svg');
  }

  &--shield::before {
    background-image: url('../images/icons/shield.svg');
  }

  &--phone::before {
    background-image: url('../images/icons/call-phone.svg');
  }
  
  &--discount::before {
    background-image: url('../images/icons/discount.svg');
  }

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 0;

    display: inline-block;
    width: 30px;
    height: 30px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    transform: translateY(-50%);
  }
}

.card-header {
  @include for-size(tablet) {
    display: none;
  }
}
