.advantages {
  padding-top: 80px;
  padding-bottom: 150px;

  &__title-wrapper {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 50px;
  }

  &__tabs {
    margin-bottom: 100px;
  }
}
